:root {
    --White: hsl(0, 0%, 100%);
    --page-bg: hsl(275, 100%, 97%);
    --info-txt: hsl(292, 16%, 49%);
    --heading-txt: hsl(292, 42%, 14%);
    --p-txt: hsl(292, 16%, 49%);
    --all-font: 'Work Sans', sans-serif;
    --shadow: #ccc5b9;
}

/* font-family: 'Work Sans', sans-serif; */
/* - Font size (paragraphs): 16px */
/* - Weights: 400, 600, 700 */

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: var(--page-bg);
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    margin: 10rem;
    max-width: 600px;
    padding: 0 2rem 2rem 2rem;
    background-color: var(--White);
    border-radius: 1rem;
    box-shadow: 0rem 2rem 2rem 0.5rem var(--shadow)
}

.heading {
    display: flex;
    font-size: 1.5rem;
    font-family: var(--all-font);
    font-weight: 700;
    padding: 2rem 1.5rem;
}

.icon-star {
    padding-right: 1.5rem;
}

h2 {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

p {
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    color: var(--p-txt);
    font-weight: 400;
}

.label::after {
    content: "";
    display: flex;
    background-image: url(assets/images/icon-plus.svg);
    background-size: 25px 25px;
    height: 25px;
    width: 25px;
    position: relative;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
}